<h1>Your Order</h1>

<div class="order-details">
  <p>Name: <%= @order.name %></p>
  <p>Email: <%= @order.email %></p>
  <p>Address: <%= @order.address %></p>
</div>

<div class="card pay-card">
  <div class="card-body pay-card-body">
    <h5 class="card-title">Your Order Details</h5>
    <h6 class="card-subtitle mb-2 text-muted">Order Items:</h6>
    <% total = 0 %>
    <% @order.line_items.each do |line_item| %>
    <% unit_price = line_item.food.price %>
    <% quantity = line_item.quantity %>
    <% subtotal = unit_price * quantity %>
    <% total = total + subtotal %>
    <p class="card-text"> <%= line_item.food.name %>: $<%= line_item.food.price %> X <%= line_item.quantity %> = $<%= subtotal %></p>
    <% end %>
    <span>Total Amount: $ <%= total %> </span>

    <a href="#" class="card-link">
      <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
              <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Pay your order" data-amount="<%= total * 100 %>" data-billing-address="true" data-shipping-address="true" data-locale="auto" data-label="Buy Now!"></script>
      <% end %>
    </a>
  </div>
</div>
